h1 {
  font-family: "DM Serif Display", serif;
  text-transform: uppercase;
  font-size: 60pt;
}

body {
  background-color: #dedcd5;
}

@media only screen and (min-width: 600px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 10%;
    margin-top: 2em;
    width: 80%;
    flex-wrap: wrap;
    gap: 2em;
  }
}

img {
  width: 30%;
  object-fit: cover;
}

header {
  text-align: center;
}

/* HEADLINES IMGS */

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  font-size: 1, 8em;
  align-items: stretch;
}

figure {
  padding: 0;
  margin: 0;
  font-family: "PT Serif", serif;
}

img {
  max-width: 20rem;
  width: 100%;
}

nav {
  text-align: right;
}

/* MENU */
