body {
  color: black;
  background-color: #dedcd5;
}

header {
  text-align: center;
}

.info {
  letter-spacing: 5px;
}
article {
  display: flex;
  margin-bottom: 2em;
  background-color: #d7d5cd;
  border-radius: 0em;
}

.H1 {
  font-family: "DM Serif Display";
  text-align: center;
  color: #000000;
  font-size: 70pt;
  text-transform: uppercase;
}

.p {
  text-align: center;
  font-size: 16pt;
  font-style: italic;
  color: #000000;
  padding-left: 5em;
  font-family: "PT Serif", serif;
  font-size: 20pt;
}

a {
  text-decoration-color: #e6e2e2;
  text-decoration-line: none;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 0;
  background-color: #b2b2b2;
  margin-bottom: 1em;
  margin-top: -1.5em;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #cbcbcb;
  color: black;
  margin-top: 0.04em;
}

.next {
  background-color: #b2b2b2;
  color: rgb(0, 0, 0);
}

aside {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  article {
    margin-bottom: 0em;
    width: 60%;
  }
  aside {
    width: 30%;
  }

  .reclame {
    width: 180px;
    height: 180px;
  }
}

.headline {
  display: flex;
  font-family: "DM Serif Display", serif;
}

.foto {
  height: 225px;
  width: 225px;
  border: 0px;
  border-radius: 0%;
  border-style: solid;
  color: #c7c6bf;
  padding: 1em;
}
